@import "../../global.scss";

.aboutList{
   
    font-size: 18px;
    margin: 40px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active{
        background-color: $mainColor;
        color: white;
    }
   
}