@import "../../global.scss";

.aboutList{
   
    font-size: 18px;
    margin: 40px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active{
        background-color: $mainColor;
        color: white;
    }
   
    &:hover{
        transform: scale(1.1);
    }
}