@import "../../global.scss";

.menubar{
    width: 100%;
    height: 70px;
    background-color: white; 
    color: $mainColor;  // should be the same as global's main color
    position: fixed;    
    top: 0;
    z-index: 2;     // to always stay on the upper part of the screen

    transition: all 1s ease;    // make the transition to be much more smooth

    .wrapper{
        padding: 10px 30px; // top - bottom: 10 px
                            // left - right: 30 px
        display: flex;
        align-items: center;
        justify-content: space-between;


        .left{
            display: flex;  // for items inside left to be displayed horizontally
            align-items: center;

            .logo{
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;     // hv 40 px at right side 
            }

            .itemContainer{
                display: flex;
                align-items: center;
                margin-left: 30px;


                .icon{
                    font-size: 18px;
                    margin-right: 5px; // hv some space between icons and its corresponding contents
                }

                span{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .right{
            

            .hamburger{
                overflow: hidden;   // sometimes there is an unexpected scroll bar
                                    // this could help to hide the scroll bar
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;    

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    // if active, change the color mode
    &.active{
        background-color: $mainColor;
        color: white;


        .hamburger{
            
            overflow: hidden;   // sometimes there is an unexpected scroll bar
                                // this could help to hide the scroll bar
            span{
                // means line 1
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                }

                // means line 2
                &:nth-child(2){
                    opacity: 0; // make it disappear
                }

                // means line 3
                &:last-child{
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}