.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: sienna;
        position: relative; // menubar's position: top
                            // .sections is under <menubar/>
                            // then position: relative 
        top: 70px;          // with this code
                            // it will make the components inside the sections block
                            // to appear below the menubar
        scroll-snap-type: y mandatory;
        scrollbar-width: none;  // for firefox
        &::-webkit-scrollbar{   // for the rest
            display: none;
        }

        > *{
            width: 100%;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}